<html>
<head>
	<meta charset="utf-8">
	<title>RDF visualisation tool</title>
	<link rel="stylesheet" href="./style.css">
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<svg id="graphContainer"></svg>

	<div id="buttonRow">
		<button id="undo">undo</button>
		<button id="redo">redo</button>
		<label>action :</label>
		<button class="activeButton toggleButton" id="add">add</button>
		<button class="toggleButton" id="remove">remove</button>
	</div>

	<div id="sidenav">
		<div>
			<div id="showNodeText">
				<label>Show node text</label>
				<input type="checkbox" checked>
			</div>
			<div id="showLinkText">
				<label>Show link text</label>
				<input type="checkbox" checked>
			</div>
			<br>
			<div id="minDegree">
				<label>Minimum degree : 0</label><br>
				<input type="range" min="0" max="500" value="0" class="slider">
			</div>
			<div id="limit">
				<label>Maximum number of added nodes : 100</label><br>
				<input type="range" min="1" max="1000" value="100" class="slider">
			</div>
		</div>
		<div id="searchDiv">
			<input id="searchInput" type="text" placeholder="Search..">
			<button id="search">search</button>
		</div>
		<div class="list">
			<table id="nodeList">
				<tr class="header"><th>Name</th><th>Degree</th></tr>
			</table>
		</div>
		<div id="prevNextButtons">
			<button id="previous">&lt &lt  previous</button>
			<button id="next">next &gt &gt</button>
		</div>
	</div>

	  
    <script src="./graph.js"></script>
</body>
</html>