* {
    font-family: Arial, Helvetica, sans-serif;
}

.linkText{
    /*font-weight: bold;*/
    font-size: 7px;
    /*
    text-shadow:
        -1px -1px 0 #fff,
        0   -1px 0 #fff,
        1px -1px 0 #fff,
        1px  0   0 #fff,
        1px  1px 0 #fff,
        0    1px 0 #fff,
        -1px  1px 0 #fff,
        -1px  0   0 #fff;
    */
    pointer-events: none;
}

.nodeText{
    font-weight: bold;
    font-size: 8px;
    /*
    text-shadow:
        -1px -1px 0 #fff,
        0   -1px 0 #fff,
        1px -1px 0 #fff,
        1px  0   0 #fff,
        1px  1px 0 #fff,
        0    1px 0 #fff,
        -1px  1px 0 #fff,
        -1px  0   0 #fff;
    */
    pointer-events: none;
}

.node{
    fill: orange;
    stroke: #fff;
    stroke-width: 3;
}


.line{
    fill: none;
    stroke: grey;
    stroke-width: 5;
}

.arrowHead{
    fill: none;
    stroke: grey;
    stroke-width: 1.5;
}






#sidenav {
    /*https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp*/
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: grey;
    overflow: hidden; /* Disable scroll */
    padding-top: 20px;
    display: flex;
    flex-flow: column;
}


#graphContainer {
    height: 100%; 
    width: 100%; 
    
}

.list {
    flex: 1 1 auto;
    overflow-y:auto;
    height: 100%;
}



#buttonDiv {
    height: 60px;
}




